<footer class="align_center" id="footer">
    <div class="container-fluid">
      <div class="row" id="links-row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="col-md-6">
              <span><a href="https://www.facebook.com/trionm" target="_blank"><img id="fb-link" src="static/img/fb.png"></a></span>
              <span><a href="http://www.coenet.org/" target="_blank"><img id="coe-link" src="static/img/coe.jpeg"></a></span>
            </div>
            <div class="col-md-6" id ="footer-links">
                    <ul>
                        <li><a href="http://www.coenet.org/">Council for Opportunity in Education
                        </a></li>
                        <li>Another Link</li>
                        <li>One More Link</li>
                        <li>FAFSA or something?</li>
                    </ul>
            </div>
          </div>
          <div class="col-md-1"></div>
      </div>

      <div class="row" id="copyright">
          <div class="col-md-1"></div>
          <div class="col-md-10" >
            <span>© 2016 TRiO New Mexico</span>
          </div>
          <div class="col-md-1"></div>
      </div>
    </div>
</footer>