<!--<div id="footer">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
              <h5>Resources</h5>
            <ul>
                <li><a>A Link</a></li>
                <li><a>A Link</a></li>
                <li><a>A Link</a></li>
            </ul>
          </div>
          <div class="col-md-5">

          </div>
          <div class="col-md-1"></div>
      </div>
      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p id="copyright">© 2016 TRiO New Mexico</p>
          </div>
          <div class="col-md-1"></div>
      </div>
  </div>
</div>-->
<footer class="align_center" id="footer">
    <div class="container-fluid">
      <div class="row" id="links-row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <span><a href="https://www.facebook.com/trionm" target="_blank"><img id="fb-link" src="static/img/fb.png"></a></span>

          </div>
          <div class="col-md-1"></div>
      </div>

      <div class="row" id="copyright">
          <div class="col-md-1"></div>
          <div class="col-md-10" >
            <span>© 2016 TRiO New Mexico</span>
          </div>
          <div class="col-md-1"></div>
      </div>
    </div>
</footer>