{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
        	<div class="content-header">
                <h3>Achievers</h3>
            </div>
            <div>
	            <p>
	            	A TRIO Achiever is an outstanding former TRIO participant that has received recognition within his/her profession or for outstanding academic achievement. They are individuals who have made significant civic, community, or professional contributions.
	            </p>
	            
            </div>
            <br>
            <div>
            	{% for achiever in achievers %}
            	<div class="row">
                    <div class="achiever col-md-12">
                        <h5>{{ achiever.headline }}</h5>
                            {{ achiever.posting_date }} <br>
                            <p>
                            	{% if achiever.optional_image %}
									<img class="float-left achiever-image" src="{{ achiever.optional_image.url }}">
								{% endif %}
                            	{{ achiever.text_body|safe }} <br>
                            </p>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}