{% extends 'trio_nm_main/achiever.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h4>ARTICLE I – Membership</h4>

<b>1.1</b> There are four classifications of membership in this association: project, active,
associate, and student.
<b>1.2</b> A person may become a member by payment of the prescribed Association fees.
Project and individual dues must be paid in full for members to be eligible to vote.
<b>1.3</b> A member may be reviewed for disciplinary action with due process by a quorum of
voting members at any scheduled or special Association meeting. Disciplinary action
must be approved by 2/3 of members present. The disciplined member shall be
notified in writing by the Association President.
<b>1.4</b> Members may resign from the Association by providing a written resignation to the
Association President.
<b>1.5</b> Project membership is open to all TRIO programs in New Mexico, and is required
for active membership of individuals.
<b>1.6</b> Active membership shall be limited to current employed personnel of TRIO
programs. Active membership of currently employed TRIO personnel is contingent
upon annual payment of project and individual fees. Only Active members may hold
office and vote.
<b>1.7</b> Associate membership is open to any person interested in student assistance
programs. Associate members may not hold office or vote, but must pay Association
fees.
<b>1.8</b> Student membership is open to any program participant interested in assistance
programs. Student members may not hold office or vote, but must pay Association fee.
<h4>ARTICLE II – OFFICERS</h4>
The officers and Board of the Association shall be President, President-Elect, Secretary,
and Treasurer whose duties are described below. In addition to the duties described
below, these officers represent the Association on the SWASAP Board.
The President and/or President Elect shall preside at all Association meetings. The
President shall appoint all committee chairpersons, and be a member of all Association
committees.
The President-Elect shall assist the President. In the absence or disability of the
President, the President-Elect shall have the powers and shall perform the duties of the
President. The President-Elect shall become the President of the Association the
following term.
The Secretary shall keep minutes of all Association meetings and provide copies of the
minutes to all active Association members. At the end of each term, the Secretary shall
provide the new Secretary with prior records.
Adopted at NMWTASAP meeting in New Orleans on 11/26/12
The Treasurer shall be responsible for receiving and disbursing the funds of the Association, maintaining appropriate fiscal records, and providing a Treasurer’s report at all Association meetings.
The Treasurer and President shall sign checks for all Board authorized expenditures. At the end of each term, the
Treasurer shall provide the new Treasurer with prior records.
The officers of the Association shall be selected by the active TRiO New Mexico membership. Each term of office
shall be one year, except for the office of Treasurer. The Treasurer of the association shall have a commitment of 2
consecutive years.
Any officer of the Association shall not succeed himself/herself in the same office more than two (2) consecutive
terms.
<b>2.1</b> Elections shall take place at the Spring Association meeting. New officers shall assume leadership on the 1st of
the following month.
<b>2.2</b> In the case of a vacancy in the Secretary or Treasurer offices, the President shall appoint an individual to
complete the unexpired term. If the Presidency is vacated, the President-Elect shall assume the office of President,
and a new President-Elect shall be elected by the membership. Should a vacancy occur in the office of PresidentElect,
the membership shall elect a replacement.
<h4>ARTICLE III – FISCAL YEAR</h4>
<b>3.1</b> The fiscal year of the Association shall begin on the first day of October and end on the last day of September
each year.
<h4>ARTICLE IV – MEETINGS</h4>
<b>4.1</b> Regular meetings of the Association shall be held twice a year. Specific dates and places shall be determined by
the officers. Members shall receive an agenda by mail, email and/or fax fifteen (15) days prior to each meeting.
<b>4.2</b> The format of each Association meeting shall be as follows: 1. Officers meeting 2. Registration 3. Workshop,
special session, or guest speaker 4. Business meeting a. Minutes of last meeting b. Treasurer’s report c. Old
business d. New business e. Closing session or unattended business
<b>4.3</b> A quorum shall be defined as the presence of one-third of the paid member projects. The TRiO New Mexico
President shall have the power to determine when a quorum of paid voting member projects is present.
Adopted at NMWTASAP meeting in New Orleans on 11/26/12
<b>4.4</b> The President of the Association shall appoint an association member as a Parliamentarian for a one year term
to assist in conducting all meetings.
<b>4.5</b> The current edition of Robert’s Rules of Order Newly Revised shall govern the proceedings of the Association.
<b>4.6</b> Any three (3) officers and/or the majority of the active membership of the TRiO New Mexico shall have the
authority to call an additional Association meeting if the need exists.
<h4>ARTICLE V – MEMBERSHIPS AND FEES</h4>
<b>5.1</b> There shall be four types of memberships: a. Annual project active membership; b. Annual individual active
membership; c. Annual individual associate membership; d. Annual individual student membership;
<b>5.2</b> Annual Association membership fees shall be determined by a majority vote of the membership.
<b>5.3</b> Annual project fees and individual memberships must be renewed by October 31 of each year.
<b>5.4</b> The Treasurer is responsible for the billing and collection of all Association fees, development of membership
lists, and the distribution of membership cards. Billing for Association fees shall be sent by the fourth Friday of
August each year.
<b>5.5</b> An individual registration fee shall be charged to each person, excluding guests of the Association, who attends
the state conference, such fee to be established annually by the Board.
<h4>ARTICLE VI – VOTING</h4>
<b>6.1</b> Each active member shall be entitled to one (1) vote.
<b>6.2</b> Proxy votes should be addressed to the TRiO New Mexico President on the Association proxy form and given to
the President before commencement of a TRiO New Mexico meeting. The President will turn over proxy votes to
TRiO New Mexico Secretary to be kept on file.

<b>6.3</b> For urgent action items requiring a membership vote prior to the next scheduled association business meeting,
the Board may conduct absentee voting with the membership to determine the impending action to be taken by
the Board.
<h4>ARTICLE VII – STANDING COMMITTEES</h4>
<b>7.1</b> The standing committees of the Association are as follows: a. Executive Committee/Board - - current officers of
TRiO New Mexico b. TRIO Achiever Selection Committee - - The committee shall set the parameters for TRIO
Achiever selection, develop and implement the selection process. Terms of committee tenure shall be
Adopted at NMWTASAP meeting in New Orleans on 11/26/12
two years. A minimum of one year must elapse between terms of office. c. Scholarship Selection Committee - - The
committee shall set the parameters and/or coordinate applicable awards, develop and implement the selection
process. Terms of committee tenure shall be two years. A minimum of one year must elapse between terms of
office. d. Council of Opportunity in Education (COE) Fair Share Committee -- Chair may be a volunteer or appointed
by the TRiO New Mexico President.
<h4>ARTICLE VIII – EXPENSES</h4>
<b>8.1</b> The property and profits of the Association shall never accrue to the benefit of its membership, or any
individual except for reasonable compensation for services rendered and expenses incurred for administration,
i.e., travel, lodging, and related expenses, and operation.
<b>8.2</b> The following TRIO Achiever expenses, with verifiable receipts, for attending the annual SWASAP conference
shall be paid by the Association; a. One night of hotel accommodations; b. Reimbursement for meals, not to
exceed $50. c. The price of a round trip shuttle between the airport and hotel; d. A round trip airline ticket to be
purchased by the TRiO New Mexico Treasurer.
<b>8.3</b> There must be a minimum balance of $2,500 in the Association treasury in order for scholarships to be
awarded. Spring Association meeting members in attendance will decide amount of scholarship awards.
<b>8.4</b> TRiO New Mexico officers and ELI participants will receive air and ground transportation monies not to exceed
an amount specified by the association membership to attend SWASAP Board meetings and ELI Training. Officers
and ELI participants traveling to those meetings and training sessions should take into consideration lowest cost air
fare.
<b>8.5</b> SWASAP monies given to TRiO New Mexico for support of participation in the annual COE Policy Seminar shall
be evenly distributed to professional active members who register and attend the seminar. Documentation of
registration, attendance and costs shall be turned in within thirty days after the seminar to the Association
Treasurer. Reimbursement will be made payable to the specific individuals who attended.
<h4>ARTICLE IX – AMENDMENTS</h4>
<b>9.1</b> The Association Bylaws may be amended at any called meeting, provided the following conditions are met: a.
A quorum is present; b. Proposed amendments will be presented in writing to each active member fifteen (15)
days prior to the Association meeting; c. The active member wishing to alter a proposed amendment must present
the alteration in person at the Association meeting; d. Adoption of an amendment shall be by a majority vote of
those present.
Adopted at NMWTASAP meeting in New Orleans on 11/26/12
<h4>ARTICLE X – DISSOLUTION</h4>
Upon dissolution of the Association, assets shall be distributed for one or more exempt purposes within the
meaning of section 501(c)(3) of the Internal Revenue Code, or the corresponding section of any future federal tax
code, or shall be distributed to the federal government, or to the state or local government, for a public purpose,
Any such assets not so disposed of shall be disposed of by a Court of Competent Jurisdiction of the county in which
the principal office of the Association is then located, exclusively for such purposes or to such organization or
organizations, as said Court shall determine, which are organized and operated exclusively for such purposes.
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}