{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
            <div class="content-header">
                <h3>TRIO New Mexico 2016-17 Committee Assignments</h3>
            </div>
            <p>* denotes committee chair. More Info? Download a copy.</p>
            <div class="col-md-6">
                <div>
                    <h4>By-Laws Committee</h4>
                    <table class="table table-striped">
                        <!--<thead>
                            <tr>
                                <th>Institution</th>
                                <th>Contact</th>
                            </tr>
                        </thead>-->
                        <tbody>
                            <tr>
                                <td>*Anslem Bitsoi</td>
                                <td>abitsoi@unm.edu</td>
                                <td>(505) 863-7518</td>
                            </tr>
                            <tr>
                                <td>*Trese Collins</td>
                                <td>trcollin@ad.nmsu.edu</td>
                                <td>(575) 932-8772</td>
                            </tr>
                            <tr>
                                <td>Laura Simes</td>
                                <td>lsimes@unm.edu </td>
                                <td>(505) 277-5321</td>
                            </tr>
                            <tr>
                                <td>Shanna Sasser</td>
                                <td>sassers@sanjuancollege.edu</td>
                                <td>(970) 903-0812</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4>Government Relations and State Initiatives Committee</h4>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>*Kyle Farris</td>
                                <td>kfarris@unm.edu </td>
                                <td>(505) 277-3098</td>
                            </tr>
                            <tr>
                                <td>Damon Montclare</td>
                                <td>damon@unm.edu</td>
                                <td>(575) 779-7815</td>
                            </tr>
                            <tr>
                                <td>Juan Rivas</td>
                                <td>juan.rivas@enmu.edu</td>
                                <td>(575) 562-2452</td>
                            </tr>
                            <tr>
                                <td>Robert Cillo </td>
                                <td>robert.cillo@sfcc.edu</td>
                                <td>(505) 428-1834</td>
                            </tr>
                            <tr>
                                <td>Carol B. Hicks</td>
                                <td>chicks2@nmsu.edu</td>
                                <td>(575) 646-7485</td>
                            </tr>
                            <tr>
                                <td>Luis Lopez</td>
                                <td>luisal@nmsu.edu</td>
                                <td>(575) 646-1331</td>
                            </tr>
                            <tr>
                                <td>Jose Villar </td>
                                <td>jvillar@unm.edu</td>
                                <td>(505) 277-5321</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4>Professional Development Committee</h4>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>*Christopher Luna </td>
                                <td>cluna@unm.edu</td>
                                <td>(505) 277-0096</td>
                            </tr>
                            <tr>
                                <td>*Shanna Sasser</td>
                                <td>sassers@sanjuancollege.edu</td>
                                <td>(907) 903-0812</td>
                            </tr>
                            <tr>
                                <td>Gloria Valderrama </td>
                                <td>gloavp@unm.edu </td>
                                <td>(505) 277-3100</td>
                            </tr>
                            <tr>
                                <td>Trese Collins</td>
                                <td>trcollin@ad.nmsu.edu</td>
                                <td>(575) 932-8772</td>
                            </tr>
                            <tr>
                                <td>Cliff McNish</td>
                                <td>mcnish@nmsu.edu</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Sue Bracksieck</td>
                                <td>k Sue.bracksieck@enmu.edu </td>
                                <td>(575) 562-2862</td>
                            </tr>
                            <tr>
                                <td>Justin Lopez</td>
                                <td>jdlopez@unm.edu </td>
                                <td>(505) 277-3503</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4>Technology and Communications Committee</h4>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>*Magda Martinez-Baca</td>
                                <td>martinezm@cnm.edu</td>
                                <td>(505) 224-4376</td>
                            </tr>
                            <tr>
                                <td>*Gloria Valderrama</td>
                                <td>Gloavp@unm.edu</td>
                                <td>(505) 277-3100</td>
                            </tr>
                            <tr>
                                <td>Daniela Garcia</td>
                                <td>daniela.garcia@enmu.edu</td>
                                <td>(575) 562-2452</td>
                            </tr>
                            <tr>
                                <td>Toni Dixon</td>
                                <td>adixon@nmsu.edu</td>
                                <td>(575) 646-7294</td>
                            </tr>
                            <tr>
                                <td>Esthela Banuelos</td>
                                <td>esthela.banuelos@enmu.edu</td>
                                <td>(575) 562-2842</td>
                            </tr>
                            <tr>
                                <td>Jimi Sanchez</td>
                                <td>Jsanchez273@cnm.edu</td>
                                <td>(505) 550-8833</td>
                            </tr>
                            <tr>
                                <td>Dawn Blue Sky-Hill</td>
                                <td>dbluesky@unm.edu</td>
                                <td>(505) 277-3230</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
				<div>
                    <h4>Trio Achiver Committee</h4>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>*Ricardo Romero</td>
                                <td>loborr@unm.edu</td>
                                <td>(505) 277-5491</td>
                            </tr>
                            <tr>
                                <td>Vince Engling</td>
                                <td>vienglin@nmsu.edu</td>
                                <td>(575) 646-7208</td>
                            </tr>
                            <tr>
                                <td>Bernadine Booky</td>
                                <td>bbooky@nmsu.edu</td>
                                <td>(575) 646-2021</td>
                            </tr>
                            <tr>
                                <td>Toni Dixon</td>
                                <td>adixon@nmsu.edu</td>
                                <td>(575) 646-7794</td>
                            </tr>
                            <tr>
                                <td>Tania Garnas</td>
                                <td>aramburu@unm.edu</td>
                                <td>(505) 277-3197</td>
                            </tr>
                            <tr>
                                <td>Trese Collins </td>
                                <td>trcollin@ad.nmsu.edu</td>
                                <td>(575) 932-8772</td>
                            </tr>
                            <tr>
                                <td>Rob Carriaga</td>
                                <td>robc@cnm.edu</td>
                                <td>(505) 224-4377</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h4>Scholarship Committee</h4>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>*Erin Weddington</td>
                                <td>emwedd@unm.edu</td>
                                <td>(505) 277-3516</td>
                            </tr>
                            <tr>
                                <td>*Veronica Salcido</td>
                                <td>verosalcido@unm.edu</td>
                                <td>(505) 681-8281</td>
                            </tr>
                            <tr>
                                <td>Juan Rivas</td>
                                <td>juan.rivas@enmu.edu</td>
                                <td>(575) 562-2452</td>
                            </tr>
                            <tr>
                                <td>Bernadine Booky</td>
                                <td>bbooky@nmsu.edu</td>
                                <td>(575) 646-2021</td>
                            </tr>
                            <tr>
                                <td>Donna Miller</td>
                                <td>dmheath@nmsu.edu</td>
                                <td>(575) 646-3340</td>
                            </tr>
                            <tr>
                                <td>Ed McKeon</td>
                                <td>edward.mckeon@sfcc.edu</td>
                                <td>(505) 428-1146</td>
                            </tr>
                            <tr>
                                <td>Tami Crespin</td>
                                <td>tami.crespin@sfcc.edu</td>
                                <td>(505) 428-1364</td>
                            </tr>
                            <tr>
                                <td>Stephanie McReynolds</td>
                                <td>stephanie@nnmc.edu</td>
                                <td>(505) 747-2202</td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4>Spring Meeting Committee</h4>
                    <table class="table table-striped">           
                        <tbody>
                            <tr>
                                <td>*Christopher Luna </td>
                                <td>cluna@unm.edu</td>
                                <td>(505) 277-0096</td>
                            </tr>
                            <tr>
                                <td>*Laura Simes</td>
                                <td>lsimes@unm.edu</td>
                                <td>(505) 277-5321</td>
                            </tr>
                            <tr>
                                <td>Daniela Garcia</td>
                                <td>daniela.garcia@enmu.edu</td>
                                <td>(575) 562-2452</td>
                            </tr>
                            <tr>
                                <td>Julie Torres</td>
                                <td>jtorres1@unm.edu</td>
                                <td>(505) 900-7166</td>
                            </tr>
                            <tr>
                                <td>Erin Weddington</td>
                                <td>emwedd@unm.edu</td>
                                <td>(505) 277-3516</td>
                            </tr>
                            <tr>
                                <td>Gloria Valderrama</td>
                                <td>gloavp@unm.edu</td>
                                <td>(505) 277-3100</td>
                            </tr>
                            <tr>
                                <td>Esthela Bañuelos</td>
                                <td>Esthela.banuelos@enmu.edu</td>
                                <td>(575) 562-2842</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4>TRIO Day Committee</h4>
                    <table class="table table-striped">           
                        <tbody>
                            <tr>
                                <td>*Daniela Garcia</td>
                                <td>daniela.garcia@enmu.edu</td>
                                <td>(575) 562-2452</td>
                            </tr>
                            <tr>
                                <td>Ed McKeon</td>
                                <td>edward.mckeon@sfcc.edu</td>
                                <td>(505) 428-1146</td>
                            </tr>
                            <tr>
                                <td>Gloria Valderrama </td>
                                <td>gloavp@unm.edu</td>
                                <td>(505) 277-3100</td>
                            </tr>
                            <tr>
                                <td>Tami Crespin</td>
                                <td>tami.crespin@sfcc.edu</td>
                                <td>(505) 428-1364</td>
                            </tr>
                            <tr>
                                <td>Magda Martinez-Baca</td>
                                <td>martinezm@cnm.edu</td>
                                <td>(505) 224-4376</td>
                            </tr>
                            <tr>
                                <td>Brittany Tabor</td>
                                <td>brt27@unm.edu</td>
                                <td>(505) 277-3197</td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}