{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
        	<div class="content-header">
                <h3>Events</h3>
            </div>
            <div>
	            <p>
					New Mexico TRIO hosts four recurring events per year. See the listings below for more information, or check the <a href="#">Gallery</a> for photos of past events.
	            </p>
            </div>
            <div>
            	<h4>TRIO Day 2017</h4>
            	<p></p>
            </div>
            <div>
            	<h4>Spring Meeting</h4>
            	<p></p>
            </div>
            <div>
            	<h4>Other Event</h4>
            	<p></p>
            </div>
            <div>
            	<h4>Other Event</h4>
            	<p></p>
            </div>
            

        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}