{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
        	<div class="content-header">
                <h3>Events</h3>
            </div>
            <div>
	            <p>
					New Mexico TRIO hosts four recurring events per year. See the descriptions below for more information.
	            </p>
            </div>
            <div>
            	<h4>TRIO Day</h4>
            	<p>
                    According to the 1986 Congressional resolution, National TRIO Day is meant to focus the nation's "attention on the needs of disadvantaged young people and adults aspiring to improve their lives, to the necessary investment if they are to become contributing citizens of the country, and to the talent which will be wasted if that investment is not made."
                </p>
                <p>
                    National TRIO Day is a day of celebration, reflection and action around increased access to higher education for disadvantaged students. Federal TRIO Programs help low- income and first- generation students enter college and earn a college degree. Every year on the last Saturday of February, high school and college students, teachers, Members of Congress, local officials, TRIO Program staff, participants and alumni and many others:
                    <ul>
                        <li><b>Celebrate</b> the positive impact of federal TRIO Programs in our 
communities throughout the nation.</li>
                        <li><b>Reflect</b> on the importance of educational opportunity programs 
in creating a fairer society for all Americans.</li>
                        <li><b>Act</b> to protect and further access to higher education for low-income 
and first-generation students.</li>
                    </ul>
                </p>
            </div>
            <div>
            	<h4>Spring Meeting</h4>
            	<p>
                    The TNM Spring Meeting is a professional development conference designed to support TRIO professionals who provide educational services students at various TRIO programs throughout the State.  The Spring Meetings consist of breakout sessions, plenary sessions, vendor access, exterior networking and professional development with the Council for Opportunity in Education (COE) and SWASAP (Southwest Association of Student Assistance Programs). The annual Spring Meetings is where TRIO New Mexico business meetings are held as well as development of the association.
                </p>
            </div>
            <div>
            	<h4>COE Annual Conference</h4>
            	<p>See the <a href="http://www.coenet.org/annual_conference.shtml">Council for Opportunity in Education</a> website for more information.</p>
            </div>
            <div>
            	<h4>COE Annual Policy Seminar</h4>
            	<p>See the <a href="http://www.coenet.org/policy_seminar.shtml">Council for Opportunity in Education</a> website for more information.</p>
            </div>
            <div>
                <h4>SWASAP Annual Conference</h4>
                <p>See the <a href="http://www.swasaptrio.org/">The SouthWest Association Of Student Assistance Programs</a> website for more information.</p>
            </div>
            

        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}