{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
	        <div class="content-header">
	            <h3>COE Fair Share</h3>
	        </div>
	        <h4>Who We Are</h4>
	        <p>
            	The Council for Opportunity in Education (COE) is a nonprofit organization, established in 1981, dedicated to furthering the expansion of college opportunities for low-income, first-generation students, veterans and students with disabilities in all 50 states, Washington, D.C., the Federated States of Micronesia (FSM), Palau, Guam, and Puerto Rico. Its membership includes more than 1,000 colleges and agencies. Through its numerous membership services, the Council works in conjunction with colleges, universities, and agencies that host TRIO programs to specifically help low-income students enter college and graduate. 790,000 low-income students and students with disabilities each year receive college access and retention services through our member colleges and agencies.
            </p>
            <p>
            	Federal TRIO Programs (Talent Search, Upward Bound, Upward Bound Math/Science, Veterans' Upward Bound, Student Support Services, Educational Opportunity Centers, and the Ronald E. McNair PostBaccalaureate Achievement Program) help students to overcome class, social, academic, and cultural barriers to higher education.
            </p>
            <br>
            <h4>How Do We Plan to Achieve This?</h4>
	        <p>
            	<ul>
            		<li>Expand bipartisan Congressional support for college access and success.</li>
            		<li>Collaborate with the U.S. Department of Education to improve and expand college access and success services.</li>
            		<li>Share relevant policy research on college access and graduation rates with policymakers at the local, state, and federal levels.</li>
            		<li>Build on our collaboration with other national advocacy organizations to lead the conversation about the importance of supportive services in college access and success.</li>
            		<li>Continue to help build capacity within states and chapters.</li>
            		<li>Involve more TRIO alumni in our advocacy efforts.</li>
            	</ul>	
            </p>
            <br>
            <h4>Keep TRIO Moving and We All Benefit!</h4>
	        <p>
            	The <a href="http://www.coenet.org/">Council for Opportunity in Education</a> (COE) depends on institutional memberships, subscriptions, and personal contributions as its major source of operating revenue. Fair Share is the sharing of budgetary responsibility needed for the Council for Opportunity in Education to operate based on the relative number of TRIO projects in an area. The Council's Board of Directors votes on the General Administrative Budget (GAB) of the Council. The GAB supports the critical work of the Council not supported by outside grants. The Fair Share is then calculated using the GAB amount.
            </p>
            <br>
            <h4>How is Fair Share Collected?</h4>
	        <p>
            	<ul>
            		<li>Regional Membership Dues</li>
            		<li>Institutional Membership Dues</li>
            		<li>Subscriptions</li>
            		<li>Annual Giving Campaign (Personal Donations)</li>
            	</ul>
            	DONATE BUTTON
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}