{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 main content-container news">
            <div class="content-header">
                    <h3>Welcome!</h3>
                    <p>
                        TRIO New Mexico is dedicated to helping students overcome class, social and cultural barriers on their way to higher education.
                        For a listing of programs around the state, check the <a href="/programs">Programs</a> page. If you are interested in becoming a member, check the <a href="/membership">Membership</a> page. <a href="/our_mission">Click Here</a> to learn more about who we are and what our mission is. 
                    </p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 main content-container news">
            <div class="col-md-8">
                <div class="content-header">
                    <h3>News</h3>
                </div>
                {% if latest_news_item %}
                    <h4>{{ latest_news_item.title }}</h4>
                    <h5>{{ latest_news_item.publish_date }}</h5>
                    <p>{{ latest_news_item.body }}</p>
                {% endif %}
            </div>
            <div class="col-md-4 calendar">
                <div class="content-header"><h3>Calendar</h3></div>
                {% for event in calendar %}
                    <div class="event-listing">
                        <h5>{{ event.title }}</h5>
                            {{ event.date }} <br>
                            {{ event.location }} <br>
                            {% if event.optional_link %}
                                <a href="{{ event.optional_link }}" >Read More</a>
                            {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}