{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
            <div class="content-header">
                <h3>Membership</h3>
            </div>
            <p>
            	By becoming a TRIO New Mexico member your students will have the ability to apply for scholarships, youth leadership development, staff professional development, and most importantly connections to the network of over 30 TRIO programs in New Mexico.  				
            </p>
            <p>
                To become a member, download the <a href="static/docs/TRIO_New_Mexico_Membership_Application_2016-2017.pdf" download="TRIO_New_Mexico_Membership_Application_2016-2017.pdf">membership application</a>. Email your completed application to Andrew Gonzalez at <a href="mailto:andrewg@unm.edu">andrewg@unm.edu</a>.
            </p>
            <br>
            <br>
            <form action="static/docs/TRIO_New_Mexico_Membership_Application_2016-2017.pdf">
                    <input type="submit" class="donate-button" value="Membership Application    >"></button>
                </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}