{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
            <div class="col-md-5">
                <div class="officer-listing">
                    <h5>President - Carol B. Hicks</h5>
                    <p>Director - Student Support Services Program, New Mexico State University</p>
                    <p>
                        ph: (575) 646-1336 <br>
                        email: chicks2@nmsu.edu
                    </p>
                </div>
                <div class="officer-listing">
                    <h5>President Elect - Juan Rivas</h5>
                    <p>Director - TRiO Upward Bound, Eastern New Mexico University</p>
                    <p>
                        ph: (575) 562-2452 <br>
                        fax: (575) 562-2220 <br>
                        email: Juan.Rivas@enmu.edu
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="officer-listing">
                    <h5>Secretary - Dawn Blue Sky-Hill</h5>
                    <p>Director - TRiO Student Support Services, University of New Mexico</p>
                    <p>
                        ph: (505) 277-3230 <br>
                        email: dbluesky@unm.edu
                    </p>
                </div>
                <div class="officer-listing">
                    <h5>Treasurer - Andrew Gonzalez</h5>
                    <p>Director - College Enrichment & Outreach Programs, University of New Mexico</p>
                    <p>
                        ph: (505) 277-5321 <br>
                        email: 	andrewg@unm.edu
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}