{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
            <div class="col-md-5">
                <div class="officer-listing">
                    <h5>President - Christopher Luna</h5>
                    <p>
                        Director - TRIO Upward Bound, University of New Mexico <br>
                        ph: (505) 277-0096 <br>
                        email: cluna@unm.edu
                    </p>
                </div>
                <div class="officer-listing">
                    <h5>President-Elect - Dawn Blue Sky-Hill</h5>
                    <p>
                        Director - TRIO Student Support Services, University of New Mexico<br>
                        ph: (505) 277-3230<br>
                        email: dbluesky@unm.edu
                    </p>
                </div>
                <div class="officer-listing">
                    <h5>Past-President - Carol B. Hicks</h5>
                    <p>
                        Director - TRIO Student Support Services, New Mexico State University<br>
                        ph: (505) 277-3230<br>
                        email: dbluesky@unm.edu
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="officer-listing">
                    <h5>Secretary - Erin Weddington</h5>
                    <p>
                        Instructor - TRIO Upward Bound, University of New Mexico <br>
                        ph: (505) 277-3230 <br>
                        email: emwedd@unm.edu
                    </p>
                </div>
                <div class="officer-listing">
                    <h5>Treasurer - Andrew Gonzalez</h5>
                    <p>
                        Director - College Enrichment & Outreach Programs, University of New Mexico<br>
                        ph: (505) 277-5321 <br>
                        email: 	andrewg@unm.edu
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}