{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content" id="front">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 main content-container">
            <div class="content-header">
                <h3>Who is TRiO?</h3>
            </div>
            <p>
                Our nation has asserted a commitment to providing educational opportunity for all Americans
                regardless of race, ethnic background or economic circumstance. In support of this commitment,
                Congress established a series of programs to help low-income Americans enter college, graduate
                and move on to participate more fully in America 's economic and social life. These Programs
                are funded under Title IV of the Higher Education Act of 1965 and are referred to as the TRIO
                Programs (initially just three programs). While student financial aid programs help students
                overcome financial barriers to higher education, TRIO programs help students overcome class,
                social and cultural barriers to higher education.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 main content-container">
            <div class="content-header">
                    <h3>How it Works ​</h3>
                    </div>
                    <p>
                        Over 1,000 colleges, universities, community colleges, and agencies now offer
                        TRIO Programs in America . TRIO funds are distributed to institutions through competitive grants.
                    </p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 main content-container">
            <div class="content-header">
                <h3>Who is Served?</h3>
            </div>
            <p>
                As mandated by Congress, two-thirds of the students served must come from
                families with incomes under $28,000, where neither parent graduated from
                college. More than 2,700 TRIO Programs currently serve nearly 866,000 low-income
                Americans. Many programs serve students in grades six through 12. Thirty-seven percent
                of TRIO students are Whites, 35% are African-Americans, 19% are Hispanics, 4% are
                Native Americans, 4% are Asian-Americans, and 1% are listed as "Other," including
                multiracial students. Twenty-two thousand students with disabilities and more than
                25,000 U.S. veterans are currently enrolled in the TRIO Programs as well. For more
                race and ethnicity data for each TRIO Program (Upward Bound, UB Math/Science, SSS,
                Talent Search, EOC, and McNair), see “Racial and Ethnic Diversity in the Federal TRIO
                Programs,” a News You Can Use fact sheet from the National TRIO Clearinghouse.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 main content-container">
            <div class="content-header">
                <h3>National TRiO Day ​</h3>
            </div>
            <p>
                According to the 1986 Congressional resolution, National TRIO Day is meant to focus the
                nation's "attention on the needs of disadvantaged young people and adults aspiring to
                improve their lives, to the necessary investment if they are to become contributing
                citizens of the country, and to the talent which will be wasted if that investment is
                not made." TRIO Day has been proclaimed a National Day of Service. We encourage programs
                to perform some sort of community service-as a way for TRIO to give back to their community
                and say thank you for its support. Every year, TRIO Day is the last Saturday of February.
                TRIO Day is February 24th, but events don't need to be limited to that day.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}