{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
            <div class="content-header">
                <h3>Programs</h3>
            </div>
            <p>Below you can find program listings and contact info. Better explanatin needed here. Link to document?</p>
            <div class="col-md-6">
                <div>
                    <h4>Educational Opportunity Centers</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Institution</th>
                                <th>Contact</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Eastern New Mexico University (Roswell)</td>
                                <td>(575) 624-7202</td>
                            </tr>
                            <tr>
                                <td>Northern New Mexico College</td>
                                <td>(505) 747-2200</td>
                            </tr>
                            <tr>
                                <td>University of New Mexico</td>
                                <td>(505) 277-2203</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4>Talent Search (Mid School)</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Institution</th>
                                <th>Contact</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Eastern New Mexico University (Portales)</td>
                                <td>(575) 562-2447</td>
                            </tr>
                            <tr>
                                <td>Eastern New Mexico University (Roswell)</td>
                                <td>(575) 624-7202</td>
                            </tr>
                            <tr>
                                <td>New Mexico Junior College</td>
                                <td>(575) 492-2614</td>
                            </tr>
                            <tr>
                                <td>New Mexico State University</td>
                                <td>(575) 646-1688</td>
                            </tr>
                            <tr>
                                <td>San Juan College</td>
                                <td>(505) 566-3171</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4>Upward Bound (High School)</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Institution</th>
                                <th>Contact</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Clovis Community College</td>
                                <td>(575) 769-4350 x1206</td>
                            </tr>
                            <tr>
                                <td>Eastern New Mexico University (Portales)</td>
                                <td>(575) 562-2452</td>
                            </tr>
                            <tr>
                                <td>Eastern New Mexico University (Roswell)</td>
                                <td>(575) 624-7205</td>
                            </tr>
                            <tr>
                                <td>LULAC National Educational Service Center</td>
                                <td>(505) 243-3787</td>
                            </tr>
                            <tr>
                                <td>New Mexico Junior College</td>
                                <td>(575) 492-2616</td>
                            </tr>
                            <tr>
                                <td>New Mexico Institute of Mining and Tech</td>
                                <td>(505) 366-2521</td>
                            </tr>
                            <tr>
                                <td>New Mexico Institute of Mining and Tech (UB Math and Science)</td>
                                <td>(505) 366-2525</td>
                            </tr>
                            <tr>
                                <td>New Mexico State University</td>
                                <td>(575) 646-5732</td>
                            </tr>
                            <tr>
                                <td>University of New Mexico (Albuquerque)</td>
                                <td>(505) 747-2204</td>
                            </tr>
                            <tr>
                                <td>University of New Mexico (Valencia)</td>
                                <td>(505) 277-3503</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h4>Student Support Services</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Institution</th>
                                <th>Contact</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Central New Mexico Community College</td>
                                <td>(505) 224-4375</td>
                            </tr>
                            <tr>
                                <td>Clovis Community College</td>
                                <td>(575) 769-4772</td>
                            </tr>
                            <tr>
                                <td>Eastern New Mexico University (Portales)</td>
                                <td>(575) 562-2226</td>
                            </tr>
                            <tr>
                                <td>New Mexico Highlands University</td>
                                <td>(505) 454-3236</td>
                            </tr>
                            <tr>
                                <td>New Mexico Junior College</td>
                                <td>(575) 492-2615</td>
                            </tr>
                            <tr>
                                <td>New Mexico State University</td>
                                <td>(575) 646-1336</td>
                            </tr>
                            <tr>
                                <td>Northern New Mexico College</td>
                                <td>(505) 747-5407</td>
                            </tr>
                            <tr>
                                <td>San Juan Community College</td>
                                <td>(505) 566-3147</td>
                            </tr>
                            <tr>
                                <td>Santa Fe Community College</td>
                                <td>(505) 428-1364</td>
                            </tr>
                            <tr>
                                <td>University of New Mexico (Albuquerque)</td>
                                <td>(505) 277-3230</td>
                            </tr>
                            <tr>
                                <td>University of New Mexico (Gallup)</td>
                                <td>(505) 863-7751</td>
                            </tr>
                            <tr>
                                <td>University of New Mexico (Valencia)</td>
                                <td>(505) 925-8574</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h4>McNair (University)</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Institution</th>
                                <th>Contact</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>University of New Mexico</td>
                                <td>(505) 277-3098</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}