{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
            <div class="content-header">
                <h3>Scholarships</h3>
            </div>
            <p>
                Have some verbiage here telling a student what this list of schlarships is and how they
                can apply for these. Are these availabvleto members only?
            </p>
            <hr>
            <div id="scholarship-listings">
            {% if scholarships %}
                {% for scholarship in scholarships %}
                    <div class="scholarship-listing">
                        <h5>{{ scholarship.scholarship_name }}</h5>
                        <h6>Application Deadline</h6> &nbsp {{ scholarship.application_deadline }} <br>
                        <h6>Online Application </h6> &nbsp {{ scholarship.application_link }}<br>
                        <h6>For more info, contact: </h6> &nbsp {{ scholarship.contact }}
                    </div>
                    <hr>
                {% endfor %}

            {% endif %}
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>
{% endblock %}