{% extends 'trio_nm_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
            <p>
                Have some verbiage here telling a student what this list of schlarships is and how they
                can apply for these.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
            <div class="scholarship-listing">
                <p>
                    Hello TRIO NM,
                    The TRIO NM Scholarship Committee is pleased to announce the release of the
                    2016-2017 TRIO NM Pre-Collegiate Scholarship. The application is attached and will
                    be posted on the website. Please see the application for full details. More information
                    about the scholarship is below:

                    The TRIO New Mexico Pre-Collegiate Scholarship Application is for those TRIO students
                    who are currently participating in a Talent Search, Upward Bound, Upward Bound
                    Math/Science, Veteran's Upward Bound, or Educational Opportunity Program who will
                    enroll at a post-secondary institution for Fall 2016. Students must be enrolled at a
                    post-secondary institution for Fall 2016; the actual award of the scholarship will
                    depend on verification of this enrollment. Fall scholarships will be awarded in
                    September/October 2016. The complete application should be submitted as a single
                    PDF document and must reach the Scholarship Committee by 5:00 p.m. MDT on Monday,
                    July 25, 2016.

                    Please send all materials as a single PDF emailed to:

                    Erin Weddington, Scholarship Chair, TRIO Upward Bound
                    Email: emwedd@unm.edu<mailto:emwedd@unm.edu>
                    Phone: 505-277-3516

                    Best,

                    TRIO NM Scholarship Committee

                    Erin Weddington
                    Instructor
                    TRIO Upward Bound Program
                    University of New Mexico
                    Office: (505) 277-3516
                </p>
            </div>

            <div class="scholarship-listing">
                <p>

                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 content-container">
                       <div class="scholarship-listing">
                <p>

                    The Southwest Association of Student Assistance Programs (SWASAP) scholarship
                    committee announces the 2016 SWASAP Scholarship Competition for Upward Bound,
                    Talent Search, and Upward Bound Math/Science.  Each project may submit only five
                    (5) applications and shall establish its own criteria for determining which five
                    applications are forwarded to the Scholarship Committee. Program Directors should
                    submit the selected applications in PDF format to the SWASAP scholarship chair no
                    later than 5pm on July 1, 2016


                    Questions may be directed to:
                    Shrylin M. Davis, SWASAP Scholarship Chair
                    Phone:  (504) 286-5249<tel:%28504%29%20286-5249>
                    Email: scholarshipswasap@gmail.com<mailto:scholarshipswasap@gmail.com>  Subject:  SWASAP Scholarship

                    --
                    Thank You,

                    Billy Ray Huggins Jr., M.S.
                    Student Development Specialist
                    Educational Talent Search
                    University of Arkansas at Little Rock
                    2801 S. University Ave.
                    Little Rock, AR 72204
                    (501)-907-2470 or (501)-907-2472
                    (501)-907-2480 Fax
                    brhuggins@ualr.edu<mailto:brhuggins@ualr.edu
                </p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>scholarship recipients</p>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>scholarship recipients</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}