$cimson: #E3170A;
$sea-green: #A9E5BB;
$dark-yellow: #EFCA08;
$light-yellow: #FCF6B1;
$dark-purple: #2D1E2F;

$background-color: $dark-purple;

body {
  background-color: $background-color;
}

.content {
  background-color: $light-yellow;

}