$cimson: #E3170A;
$tea-green: #D4E6B5;
$dark-yellow: #D7B377;
$pastel_blue: #AFC2D5;
$dark-blue: #2B4162;
$cream: #f8f8f8;




html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body {
  background: url(../img/sandias.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#banner {

  opacity: 0.5;
}

#nav-container {
  border-top: 3px solid $dark-blue;
  border-bottom: 1px solid $dark-yellow;
  background: $cream;
  height: 54px;
  color: black;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
}

.navbar-default {
  border: none !important;
}

#navbar {
  ul {
    li {
      a {
        color: black;
        font-size: 16px;
      }
      a:hover {
        background-color: $dark-blue;
        color: $cream;
        opacity: .7;
      }
      a:active{
        background-color: $pastel_blue;
        color: $cream;
        opacity: .7;
      }
    }
  }
}

.dropdown-menu {
  background-color: $dark-yellow;
  li {
    background-color: $cream;
    border-top: 1px solid $dark-blue;

  }
}

.content-row {
  background-color: transparent;
}

#header-wrapper {
  #banner-wrapper {

  }
  #banner {
    opacity: 1 !important;
    background-image: url("/static/img/trio_banner_transparent.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    height: 86px;
  }
}

.main, .content-container, #events-portlet {
  background-color: #f8f8f8;
  margin-top: 14px;
  padding: 0px 10px 10px 10px;
  position: inherit;
}

.content-header {
  color: $dark-blue;
}

.content-container {
  border-top: 2px solid $dark-blue;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
  padding-top: 0;
  p {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Work Sans', sans-serif;

  }
}




h3 {
  margin-top: 12px;
}.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: $dark-yellow;
}
