$cimson: #E3170A;
$sea-green: #A9E5BB;
$dark-yellow: #EFCA08;
$light-yellow: #FCF6B1;
$dark-purple: #2D1E2F;


body {
  background: url(../img/sandias.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  background-color: transparent;

}

#banner {

  opacity: 0.5;
}

#nav-container {
  background: #f8f8f8;
  height: 54px;
  color: black;
}



.content-row {
  background-color: transparent;
}

#header-wrapper {
  #banner-wrapper {

  }
  #banner {
    opacity: 1 !important;
  }
}

.main {
  background-color: gray;
  margin-top: 14px;
}

.navbar-default {
  border: none !important;
}

#navbar {
  ul {
    li {
        a {
          color: black;
          font-size: 16px;
        }
    }
  }
}

#footer-container {
  background-color: $light-yellow;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 58px;

}